:root {
    --theme-color: #df465f;
    --secondary-color: #ad3952;
    --background-color: #242023;
}

* {
    box-sizing: border-box;
}

h5 {
    font-weight: normal;
}

a.btn, button {
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    padding: 14px;
    margin-bottom: 12px;
    border-radius: 4px;
    background-color: var(--theme-color);
    outline: none;
    border: none;
    color: #ffffff;
    text-decoration: none;
    transition: background-color .12s;
    flex: 0;

    &:hover {
        background-color: var(--secondary-color);
    }
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;

    & > * {
        box-sizing: border-box;
        padding: 12px;
        margin: 4px;
        font-size: 18px;
        height: 42px;
        flex: 1;
        border-radius: 4px;
    }

    & > input[type=text] {
        font-family: 'Montserrat', Roboto, 'Helvetica Neue', Arial, sans-serif;
        outline: none;
        border: none;
        max-width: 60%;
    }

    & > button[type=submit] {
        cursor: pointer;
        border: none;
        color: #ffffff;
        transition: .12s;
        flex-grow: 0;
    }
}

.page-enter-active, .page-leave-active {
    transition: all .30s ease-out;
}
.page-enter {
    opacity: 0;
}

.page-leave-active {
    opacity: 0;
}

*:focus {
    outline: none;
}

::placeholder {
    font-family: 'Montserrat', Roboto, 'Helvetica Neue', Arial, sans-serif;
}