:root {
    --font-color: #2b0319;
    --alt-font-color: #ffffff;
    --theme-color: #df465f;
    --secondary-color: #f16382;
    --background-color: #f5eff3;
}

* {
    box-sizing: border-box;
}

h5 {
    font-weight: normal;
}

a.btn, button {
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    padding: 14px;
    margin-bottom: 12px;
    background-color: var(--theme-color);
    background: var(--theme-color) linear-gradient(-18deg, transparent, #e0607c 80%, #e6617e 100%);
    outline: none;
    border: none;
    color: var(--alt-font-color);
    text-decoration: none;
    transition: .07s ease;
    flex: 0;
    box-shadow: 1px 2px 5px 2px rgba(36, 16, 128, 0.103);
    transition: background-color .38s ease, box-shadow .34s ease;
    
    &:hover {
        background-color: var(--secondary-color);
        box-shadow: 2px 3px 5px 3px rgba(18, 8, 71, 0.137);
    }
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
    
    & > * {
        box-sizing: border-box;
        padding: 12px;
        margin: 4px;
        font-size: 18px;
        height: 42px;
        flex: 1;
        box-shadow: 1px 2px 5px 2px rgba(36, 16, 128, 0.103);
    }
    
    & > input[type=text] {
        font-family: 'Montserrat', Roboto, 'Helvetica Neue', Arial, sans-serif;
        outline: none;
        border: none;
        max-width: 60%;
        background: #2b0319;
        color: #ffffff;
    }
    
    & > button[type=submit] {
        cursor: pointer;
        border: none;
        color: var(--alt-font-color);
        transition: .12s;
        flex-grow: 0;
    }
}

.page-enter-active, .page-leave-active {
    transition: all .12s ease;
    opacity: 1;
}
.page-enter {
    opacity: 0;
}

.page-leave-active {
    opacity: 0;
}

*:focus {
    outline: none;
}

::placeholder {
    font-family: 'Montserrat', Roboto, 'Helvetica Neue', Arial, sans-serif;
}